* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
}

html {
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 1em;
}
/* -------------------------------------------------------------------------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$text-base: #afb6c2;
$text-title: #d4ccb6;
$background: #191816;
$form-background: #24221f;
$primary-color: #ffc632;

$primary-font: "Poppins", sans-serif;
$second-font: "Roboto", sans-serif;

body {
  font-family: $primary-font;
  background-color: $background;
  color: $text-base;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header img"
    "logIn img";
  height: 100vh;

  & header {
    display: block;
    padding: 2rem;
    grid-area: header;
    & img {
      max-width: 8rem;
    }
  }

  #logIn {
    grid-area: logIn;
    place-items: center;
    margin: auto;
    header {
      margin-bottom: 2rem;
      img {
        max-width: 8rem;
      }
    }

    #form {
      background-color: $form-background;
      padding: 3rem 5em;
      border-radius: 0.5rem;
      #title {
        display: flex;
        gap: 0.8rem;
        padding-bottom: 0.8rem;

        & p {
          color: $text-title;
          font-size: 1.5rem;
          font-weight: 600;
        }
      }

      & #instructions {
        padding-bottom: 2rem;
      }

      form {
        & label {
          display: block;
          padding: 0.2rem;
        }

        & .inputContainer {
          position: relative;
          width: 300px;
          padding-bottom: 1rem;

          & input {
            background-color: transparent;
            border: rgb(175, 182, 194, 30%) 0.2rem solid;
            border-radius: 0.5rem;

            width: 100%;
            padding: 10px 40px 10px 35px;
            color: $text-title;
          }

          & input::placeholder {
            padding-left: 0.2rem;
          }

          & input:focus {
            border: $primary-color 0.2rem solid;
            border-radius: 0.5rem;
            outline: none;
            caret-color: transparent;
          }

          & .icon {
            display: flex;
            align-items: center;
            position: absolute;
            top: 35%;
            transform: translateY(-50%);
            pointer-events: none;
            transition: color 0.3s;
            padding-left: 0.5rem;
          }

          #watchPass {
            width: 20px;
            height: 20px;
            position: absolute;
            left: 90%;
            cursor: pointer;
            transform: translateY(-175%);

            & #eye-closed {
              display: none;
            }
          }

          & #icon-focus {
            display: none;
          }

          & input:focus + #icon-default {
            display: none;
          }

          & input:focus + #icon-default + #icon-focus {
            display: flex;
          }
        }

        #options {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: $second-font;

          & #checkBox {
            display: flex;
            align-items: center;

            & #remind {
              appearance: none;
              -webkit-appearance: none;
              height: 1.2rem;
              width: 1.2rem;
              border: 1px solid $text-base;
              border-radius: 0.2rem;
              cursor: pointer;
              display: flex;
              justify-content: center;
            }

            & #remind:after{
              content: url(/images/check.svg);
              display: none;
            }
            & #remind:hover{
              background-color: #ffc53277;
            }

            & #remind:checked{
              background-color: $primary-color;
            }
            & #remind:checked::after{
              display: block;
            }

            & label {
              cursor: pointer;
              font-weight: 300;
            }
          }
          & p {
            font-family: $primary-font;
            font-size: 0.9rem;
            font-weight: 500;
            color: $primary-color;
            cursor: pointer;
            white-space: nowrap;
          }
        }

        button {
          width: 100%;
          background-color: $primary-color;
          padding: 0.5rem;
          font-weight: 600;
          border-radius: 0.5rem;
          border: none;
          cursor: pointer;
          margin: 1rem 0;
        }

        #createAcc {
          display: flex;
          justify-content: center;
          color: $primary-color;
          gap: 0.2rem;
          & span {
            cursor: pointer;
            font-weight: 600;
          }
        }
      }
    }
  }
}

//-----//
#img {
  grid-area: img;
  display: flex;
  place-items: center;
  justify-content: center;

  /* background: url(/images/side-image.jpg) center/cover no-repeat; */
  & img {
    object-fit: scale-down;
    object-position: center;
    height: 100vh;
  }
}

@media only screen and (max-width: 770px) {
  main {
    grid-template-columns: 1fr;

    & #logIn {
      & #form {
        background: none;
        padding: 0;
        border-radius: 0;
      }
    }
    
    & #img {
      display: none;
    }
  }
}
